@font-face {
    font-family: "Winky_Rough";
    src: url(../font/Winky_Rough/WinkyRough-VariableFont_wght.ttf);
    src: url(../font/Winky_Rough/WinkyRough-Italic-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    font-family: "Winky_Rough";
    scroll-behavior: smooth;
}
.container_1{
    margin: 0 12%;
}
.container_2{
    margin: 0 4%;
}
#moreGames{
    background-color: $main_back_color;
}
// =============extend==============
.buttons{
    font-weight: 500;
    background-color: $design_color;
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    &:hover{
       background-color: $main_text_color;
    }
    &:hover a{
       color: $design_title; 
    }
    >a{
        color: $main_text_color;
        text-decoration: none;
    }
}