@font-face {
    font-family: "Winky_Rough";
    src: url(../font/Winky_Rough/WinkyRough-VariableFont_wght.ttf);
    src: url(../font/Winky_Rough/WinkyRough-Italic-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    font-family: "Winky_Rough";
    scroll-behavior: smooth;
}
.container_1{
    margin: 0 12%;
}
.container_2{
    margin: 0 4%;
}
#sign_in{
    overflow-x: hidden;
    background-image: url('../img/bg-sign-in.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: radial-gradient(circle at center, #ff7f5f00 0% 30%, #2c2c2c 95% 100%);
    }
    &::-webkit-scrollbar {
        background-color: $main_back_color;
        width: 15px;
    }
    
    &::-webkit-scrollbar-track {
        border: 1px solid whitesmoke;
        margin: 10px;
        border-radius: 16px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $design_title;
        border-radius: 16px;
        box-shadow: 0 0 8px 2px whitesmoke;
        
    }
}
@media(max-width:768px){
    #sign_in{
        background-image: url(../img/bg_mobile_responsive_signin.jpg);
        background-repeat: repeat-y;
        background-size: cover;
        position: relative;
    }
}